.form-icon {
	font-size: 10px;
	border-radius: 0 5px 5px 0;
	top: 5px;
	line-height: 24px;
	width: 40px;
	border: none;
	background: rgb(137,130,133); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(137,130,133,1) 0%, rgba(114,114,114,1) 47%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(137,130,133,1) 0%,rgba(114,114,114,1) 47%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(137,130,133,1) 0%,rgba(114,114,114,1) 47%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898285', endColorstr='#000000',GradientType=0 );
}

.headers-menu .glyphicon-play {
	height: 30px;
	width: 20%;
	background-color: gray;
}



.nav-bar-width{	width: 26%;}
.headers {	padding: 10px 0;}
.headers img {	padding-top: 3px;}
.headers-menu {
	height: 40px;
	border-radius: 5px;
	padding: 5px;
}

.headers-menu {	background: #0b8eeb;}
.headers-menu *	{background: #0b8eeb;}

.nav-margin {
	margin-bottom: 0;
	border: none;
}

.btn-color{	background-color: #0b8eeb;}

.login {
	padding: 25px 0;
	font-size: 17px;
}

.bgc-form {	background-color: white;}

.navbar-default .navbar-nav>li>a {	color: white;}

ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
	margin: 0;
}

a.menu:after, .dropdown-toggle:after {content: none;}

.container-fluid,
.navbar-collapse,
.navbar-form {
	padding-left: 0;
	padding-right: 7px;
}

.navbar-right {	margin-right: 0;}

.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
}

.form-group .txt-font {
	width: 225px;
	height: 30px;
}

.navbar-default .headers-menu {	background-color: #2196f3;}

.navbar-inverse .navbar-nav>li>a  {	color: white;}

nav {
	margin-top: 5px;
	box-shadow: 5px 4px 5px #2196f3;
	background-color: #2196f3;
}

.pad-top li{ 
	padding-top: 8px;
	border-right: 1px solid rgba(0,0,0,0.3);
	padding-bottom: 8px;
}

.bgc-menu {
	background-color: #2196f3;
	border-color: #2196f3;
}

.dropdown:hover {	background: rgba(22, 118, 194, 0.87);}

.height-navbar {
	height: 35px;
	min-height: 39px;
}

.form-margin {
	height: 30px;
	margin: 0;
}

.form-group .search-width {
	height: 29px;
}

.form-padding {	padding-top: 5px}

.dropdown ul { 	background-color: rgba(33, 150, 243, 0.87);}

.dropdown-menu li{	padding: 0;}

.dropdown-menu li  a{color: white;}

.dropdown-menu li  a:hover {
	background: rgba(22, 118, 194, 0.87);
}

.dropdown-menu .divider {
	padding: 0;
	height: 1px;	
}

.block-wrap-content{
	background: url("../image/green-block--big.png") no-repeat center bottom;
	min-height: 320px;
	border-radius: 15px;
}

.block-reviews li{
	list-style-type: none;
}
.pos-right{
	float: right;
	width: 70%;
}

.pos-left {
	float: left;
	width: 30%;
}

.accordion *{
	color: #737373;
	font-size: 20px;
	padding-left: 0;
	list-style-type: none;
	height: auto;

}

.accordion a {
	display: block;
	font-weight: normal;
	text-decoration: none;
}

.accordion ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.accordion li a {
	width: 100%;
	padding: 5px 0 0 0px;
	display: block;
	color: #737373;
	height: auto;
}

.accordio ul > {font-size: 17px;}

.accordion li a.closed { color: #737373; }
.accordion li.firstitem a.closed { color: #737373 }
.accordion li .lastitem a.closed {    color: #737373 }
.accordion li li { padding: 0 15px 0 15px; font-size: 17px; }
.accordion li a.opened { color: #737373;}
.accordion li.firstitem a.opened { color: #737373; }
.accordion li.lastitem li { margin-bottom: -4px; }
.accordion li.lastitem ul {
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 4px;
}
.block-reviews { left: 10px;}
.bxslider-height li{ height: 155px !important;  }
.blc-wrp-tp { top: 0; }
.row-margin { margin-top: 25px; }

/*slide*/
#owl-demo .item,
#owl-demo-1 .item {
	background: #fff;
	padding: 10px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.title-sld {
	font-size: 25px;
	color: #2196f3;
}

.owl-item {	width: 192px !important;}
.items-logo img {width: 145px;}

.customNavigation{  text-align: center; }
//use styles below to disable ugly selection
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.items-logo {
	border: 1px solid #2196f3;
	border-radius: 5px;
}

.prev {
	float: left;
	top: 66px;
	right: 20px;
	position: relative;
	z-index: 1;
	background: url(http://bxslider.com/lib/images/controls.png) no-repeat -1px -33px;
	width: 32px;
	height: 32px;
}

.prev:hover {
	background: url(http://bxslider.com/lib/images/controls.png) no-repeat -1px -1px;
}

.next {
	float: right;
	top: 65px;
	position: relative;
	z-index: 1;
	left: 25px;
	background: url(http://bxslider.com/lib/images/controls.png) no-repeat -44px -33px;
	width: 32px;
	height: 32px;	
}

.next:hover {
	color: #333;
	text-decoration: none;
	background: url(http://bxslider.com/lib/images/controls.png) no-repeat -44px -1px;
}

.item-descr a{
	font-size: 15px;
	color: #000;
	padding: 10px 0;
	text-align: center;
}

.item-descr a:hover {
	text-decoration: none;
	color: #2196f3;
}

.submit_button {
	padding: 10px 5px;
	border-radius: 5px;
	border: none;
	background-color: #2196f3;
}

.price-product { 
	color: black;
	display: inline-block;
	font-size: 18px;
}

.form-contr {
	width: 35px;
	height: 33px;
	color: black;
}

.owl-theme .owl-controls .owl-buttons div {
	color: #2196f3;
	background: none;
	position: absolute;
	font-size: 30px;
}
.owl-buttons .owl-next {
	right: -45px;
	top: 25%;
}
.owl-buttons .owl-prev {
	left: -30px;
	top: 25%;
}

.footer {
	background-color: #004ca1;
	
}

.footer-left,
.footer-right {
	width: 50%;
	text-align: center;
}

.footer-right { 
	float: right;
	padding: 15px 0;
}
.footer-left { float: left; }

.footer-left img {
	margin: 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-links { margin: 0 auto; }

.footer-links div {
	float: left;
	padding: 0 15px;
	margin: ;
}

.footer-links div a {
	text-decoration: underline;
	 color: ;
}

.dropdown a{
	padding-left: 7px;
}